body {
    background-color: #EAF6F6;
    font-family: "Times New Roman";
    }

hr {
    border-style: dotted none none none;
    width: 10%;
    border-color: lightgrey;
    border-width: 5px;
    }

h1, h3 {
    color: #66BFBF;
}

#profile-img {
    border-radius: 50%;
}

.certificate_img {
    background-color: #66BFBF;
    border-radius: 5%;
}

#card {
    margin: 50px;
    text-align: center;
}

p {
    margin: 5px, 0;
}