<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Alvin Cruz CV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{  url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div id="card">
    <h1>Alvin Cruz</h1>
    <img id="profile-img" src="{{ url_for('static', filename='images/alvin.JPG') }}" alt="Photo of Alvin" width="150">
    <p>A full stack web developer</p>
    <p>
        <label>Github: </label>
        <a href="https://github.com/alvin-c-cruz" target="_blank">alvin-c-cruz</a>
    </p>
    <p>
        <label>Twitter: </label>
        <a href="https://twitter.com/alvinccruz12" target="_blank">@alvinccruz12</a>
    </p>
    <p>
        <label>Stack Overflow: </label>
        <a href="https://stackoverflow.com/users/11421188/alvin-cruz" target="_blank">alvin-cruz</a>
    </p>
</div>

<hr>

<h3>Certificates</h3>
<div class="row">
    <div class="col-lg-3 col-md-4">
        <a href="https://www.udemy.com/certificate/UC-0b7b8990-40e2-43b3-bdf6-ba49a11efa8e/" target="_blank">
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-0b7b8990-40e2-43b3-bdf6-ba49a11efa8e.jpg"
                         alt="The Ultimate Flask Course by Anthony Herbert" width="350" class="certificate_img">
        </a>
    </div>
    <div class="col-lg-3 col-md-4">
        <a href="https://chessarena.com/tournaments/16313" target="_blank">
            <img src="https://wctour-images.worldchess.com/media/tournaments_result/cert_image_525113_16313.png"
                         alt="FIDE Online Arena" width="350" class="certificate_img">
        </a>
    </div>
</div>

<hr>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
