{% extends 'base.html' %}

{% block title %} Hello World {% endblock %}

{% block content %}
<form method="post" action="{{ url_for('hello_world.home') }}">
    <div class="row">
        <div class="col-lg-6">
            <h1>Hello World</h1>
            <p>It's a tradition to start programming with printing hello world.</p>
            <textarea name="code" cols="30" rows="10" class="form-control">{{ code }}</textarea>
        </div>
        <div class="col-lg-6">
            <h1>Output Here</h1>
            <p>This box will show the result of the codes written in the first box.</p>
            <textarea name="output" cols="30" rows="10" class="form-control">{{ output }}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="offset-5 col-2 offset-5 mt-4">
            <input type="submit" value="Run" class="btn btn-success form-control">
        </div>
    </div>


</form>
{% endblock %}